@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  
  --muted: #f4f4f5;
  --muted-foreground: #71717a;
  
  --popover: #ffffff;
  --popover-foreground: #171717;
  
  --card: #ffffff;
  --card-foreground: #171717;
  
  --border: #e4e4e7;
  --input: #e4e4e7;
  
  --primary: #171717;
  --primary-foreground: #fafafa;
  
  --secondary: #f4f4f5;
  --secondary-foreground: #171717;
  
  --accent: #f4f4f5;
  --accent-foreground: #171717;
  
  --destructive: #ef4444;
  --destructive-foreground: #fafafa;
  
  --ring: #a1a1aa;
  
  --radius: 0.5rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    
    --muted: #27272a;
    --muted-foreground: #a1a1aa;
    
    --popover: #18181b;
    --popover-foreground: #ededed;
    
    --card: #18181b;
    --card-foreground: #ededed;
    
    --border: #27272a;
    --input: #27272a;
    
    --primary: #fafafa;
    --primary-foreground: #18181b;
    
    --secondary: #27272a;
    --secondary-foreground: #fafafa;
    
    --accent: #27272a;
    --accent-foreground: #fafafa;
    
    --destructive: #7f1d1d;
    --destructive-foreground: #fafafa;
    
    --ring: #52525b;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

* {
  border-color: var(--border);
}
